services:
  app:
    container_name: app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.entrypoints=web"
      - "traefik.http.routers.app.rule=Host(`app.delivery.localhost`) || Host(`backoffice.delivery.localhost`) || Host(`store.delivery.localhost`)"
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    tty: true
    stdin_open: true
    volumes:
      - .:/rails
    depends_on:
      - postgres

  postgres:
    container_name: postgres
    image: postgres:17
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  traefik:
    container_name: traefik
    image: traefik:v3.6
    volumes:
      - ./traefik.yml:/etc/traefik/traefik.yml
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8080:8080
      - 80:80
    depends_on:
      - app

volumes:
  postgres-data:
