@use "bulma/sass/utilities" with (
  $family-primary: '"Rubik", sans-serif'
);

@forward "bulma/sass";

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.hv-full {
  height: 100vh !important;
}
